body {
    background-image: url("./night_camping.jpg"); 
    background-color: grey; 
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Heebo', sans-serif;
    color: white;
}

.header {
    padding: 20px;
    margin: auto;
    width: 100%;
    background-color: rgb(32, 31, 31);
    background-attachment: fixed;
    z-index: 2;
}

#title {
    font-family: 'Caveat', cursive;
    padding: 0px 10px 0px 0px;
    text-align: center;
}

.quoteDiv {
    margin: 10px;
}

.search-btn {
    width: 100% !important;
}

.btn-default {
    width: 100% !important;
}

#submit {
    background-color: rgb(45, 45, 170);
    border:  rgb(45, 45, 170);
}

#reset {
    background-color: rgb(37, 35, 35);
}

.cards {
    width: 100%;
    display: inline-block flex;
}

.card {
    width: 500px;
    height: auto;
    background-color: rgb(32, 31, 31);
    color: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#quote {
    text-align: center;
    color:white; 
    margin: 15px;
    z-index: 2;
}

#noResults {
    text-shadow: 2px 2px 3px red;
    color:white;
    text-align: center;
    font-size: 24px;
    display: flex;
    margin: 50px;
}

.input-group {
    margin: 10px;
}

#modeSwitch {
    align-self: right;
    padding: 5px;
}

.parkImg {
    width: 100%;
    height: 280px;    
}

