.hero-image {
    background-image: url("./background.jpg"); 
    /* background-image: url("./hiking.jpg");  */
    /* background-image: url("./camping.jpg");  */
    /* background-image: url("./biking.jpg");  */
    background-color: white; 
    height: 800px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
body {
    font-family: 'Heebo', sans-serif;
    
}

#quote{
    text-align: center;
    font-size: 25px;
    

}

h1{
    text-align: center;
}

.jumbotron {
    padding-left: 25px;
    font-size: 50px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
