.hero-image {
    background-image: url("./background.jpg"); 
    /* background-image: url("./hiking.jpg");  */
    /* background-image: url("./camping.jpg");  */
    /* background-image: url("./biking.jpg");  */
    background-color: white; 
    height: 800px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
  }

  

.header {
    position: fixed;
    top: 0; left: 0;
    padding: 20px;
    width: 100%;
    background-color: #2c493f;
    background-attachment: fixed;
    z-index: 2;
}

.search-btn {
    width: 100% !important;
}

body {
    font-family: 'Heebo', sans-serif;
    color: white;
}

.container{
    top: 125px;
    position: relative;
}

.cards {
    width: 100%;
    display: inline-block flex;
    /* margin: 20px;
    padding: 5px; */
}

.card {
    width: 400px;
    height: 830px;
    color: #6c757d;
    /* align-content: center; */
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

/* .cardDescrition {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} */

/* #quote{
    text-align: center;
    background-color: white;
    color: #2c493f;
    font-size: 25px;
    margin: 10px;    
    /* background-color: white; */

.quotes.h1 {
    text-align: center;
    background-color: white;
    color: #2c493f;  
    /* background-color: white; */
    margin: 15px;
    position: relative;
    z-index: 2;
}


#quote {
    
  color: whitesmoke;
  /* font: 900 35vmin/50vh cookie, cursive; */
  text-align: center;
  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black; 
}

.input-group {
    padding: 5px;
}

.jumbotron {
    padding-left: 25px;
    font-size: 50px;
}

/* .cardContainer {
    display: flex;
    /* align-items: center; */

.parkImg {
    width: 100%;
    height: 280px;
    padding:10px;
    
}

/* @media (min-width: 768px) { ... } */