.hero-image {
    background-image: url("./background.jpg"); 
    /* background-image: url("./hiking.jpg");  */
    /* background-image: url("./camping.jpg");  */
    /* background-image: url("./biking.jpg");  */
    background-color: white; 
    height: 800px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
  }

header {
    padding: 20px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
}

.search-btn {
    float: right;
}

body {
    font-family: 'Heebo', sans-serif;
    
}

.container{
    top: 100px;
    position: relative;
}

#activities {
    padding: 0px;
    margin: 0px;
}
.cards {
    width: 100%;
    display: inline-block flex;
    /* margin: 20px;
    padding: 5px; */
}

.card {
    width: 400px;
    height: 810px;
    /* align-content: center; */
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}



#quote{
    text-align: center;
    font-size: 25px;
    margin: 35px;    
    background-color: white;

}

h1{
    text-align: center;
}

.jumbotron {
    padding-left: 25px;
    font-size: 50px;
}

.cardContainer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.parkImg {
    width: 100%;
    height: 300px;
    padding:10px;
    
}