body {
    font-family: 'Bodoni Moda', serif;
}

h1{
    color: #187bcd;
    text-align: center;
}

.container {
    border: 1px solid black;
    
}

.cardContainer {
    display: flex;
  align-items: center;
  justify-content: center;
}
