body {
    background-image: url("./background.jpg"); 
    background-color: white; 
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Heebo', sans-serif;
    color: white;
  }

.header {
    padding: 20px;
    margin: auto;
    width: 100%;
    background-color: #2c493f;
    background-attachment: fixed;
    z-index: 2;
}

#title {
    font-family: 'Caveat', cursive;
    padding: 0px 10px 0px 0px;
    text-align: center;
}

.quoteDiv {
    margin: 10px;
}

.search-btn {
    width: 100% !important;
}

.btn-default {
    width: 100% !important;
}

.cards {
    width: 100%;
    display: inline-block flex;
}

.card {
    width: 400px;
    height: auto;
    color: #6c757d;
    margin: 10px;
    padding: 10px;
    display: flex;
    vertical-align: top;
    text-align: center;
}

#quote {
    text-align: center;
    color:white;
    margin: 15px;
    z-index: 2;
    text-shadow: 2px 2px 5px black;
}

#noResults {
    text-shadow: 2px 2px 3px red;
    color:white;
    text-align: center;
    font-size: 24px;
    display: flex;
    margin: 50px;
}

.input-group {
    margin: 10px;
}

#modeSwitch {
    align-self: center;
    padding: 5px;
}

.parkImg {
    width: 100%;
    height: 280px;
}

.cardSectionHeader {
    font-size: 20px;
    font-weight: bold;
}